<!--Close of the page-wrap-->
        <footer class="footer" id="footer">
                <div class="container">
                    <div class="text-center">
                        Louis Moc™ 2017
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>