<!DOCTYPE HTML>
    <html>
        <head>
            <title>Hack The North - Safety Mesh</title>
            <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel ="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
            
        </head>
            <body id="main">
                <!--<nav class="navbar navbar-inverse">-->
                <!--    <div class="container-fluid">-->
                <!--        <div class="navbar-header">  -->
                <!--        </div>-->
                <!--    </div>-->
                <!--</nav>-->
                
                <!--<div class="container" style="width: 100%; margin:30px auto;">-->
                <!--    <header class="jumbotron">-->
                <!--        <div class="container">-->
                            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css">
                <!--            <h1><i class="protect icon"></i>Welcome To The Safety Mesh</h1>-->
                <!--            <p>A Disaster Communication Solution</p>-->
                <!--            <p>-->
                <!--                <a class="btn btn-success btn-large" href="/">Reload</a>-->
                <!--            </p>-->
                <!--        </div>-->
                <!--    </header>-->
                <!--</div>-->
                <!--<hr>-->
                